$base-color: #2b283a;
$base-bg-color: #fff;

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 10.24px;
  line-height: 1.5;
  font-weight: 400;
  color: $base-color;
  background-color: $base-bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
